* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #020617;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 50px;
  background: black;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #2563eb;
}

.brand {
  font-size: 18px;
  font-weight: bold;
}

.nav-center span {
  margin: 0 12px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.login-btn {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #22d3ee;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
